@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --purple: #A163F7;
  --blue: #0066ff;
  --bluegreen: #45E3FF;
  --yellow: #F4F5E8;
  --grey: #aaabac;
  --black: #030303;
  --orange: #ffa001;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
}

.app-navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: #00000013 0 1px;
}

.app-login {
  width: 200px;
  height: 100%;
  padding-right: 10px;
}

.app-body {
  width: 100%;
  height: 100%;
}

.app-logo {
  font-weight: 500;
  color: var(--black);
  gap: 8px;
  padding-left: 10px;
}

.app-section-md {
  width: 100%;
  height: 650px;
}

.app-section-2 {
  width: 50%;
  height: 100%;
  float: left;
}

.app-title-xl {
  font-size: 70px;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.1;
  text-align: center;
  gap: 10px;
}

.app-title-md {
  font-size: 40px;
  max-width: 90%;
  line-height: 1.1;
  text-align: center;
  margin: 0 auto;
  gap: 10px;
}

.app-subtitle {
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
}

.btn {
  margin: 10px auto;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 3px, rgba(0, 102, 255, 0) 0 0 0 4px;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.btn-md-primary {
  background-color: var(--orange);
  color: white;
  font-size: 16px;
  padding: 0 21px;
  height: 46px;
  line-height: 46px;
}

.btn-md-secondary {
  box-shadow: inset #d8d8da 0 0 0 1px;
  color: black;
  font-size: 16px;
  padding: 0 21px;
  height: 46px;
  line-height: 46px;
}

.data {
  width: 80%;
  height: 500px;
  border-radius: 10px;
  box-shadow: #00000013 0 1px;
  border: 1px solid #00000013;
}

.data-title {
  border-bottom: 1px solid #00000013;
  padding: 10px 30px;
  font-size: 28px;
  font-weight: 400;
}

.data-list {
  padding-left: 30px;
  list-style: none;
}

.data-item {
  height: calc(100%/6);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  margin: 30px 0;
  gap: 10px;
}

.data-item-result {
  font-weight: 500;
}

.view-map {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

.faq-container {
  width: 100%;
  height: 150px;
}

.faq-item {
  width: 50%;
  height: 118px;
  border-radius: 10px;
  box-shadow: #00000013 0 1px;
  border: 1px solid #00000013;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.faq-item:hover {
  background-color: var(--orange);
  color: white;
}

.faq-title {
  padding: 0 30px;
  font-size: 25px;
  gap: 5px;
}

.faq-answer {
  padding: 5px 30px;
  font-size: 17px;
}

.important {
  color: #F4F5E8;
  background-color: #ffa001;
}

.app-footer {
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-weight: 300;
}

.app-link {
  text-decoration: underline;
  color: var(--orange);
  font-weight: 400;
}

.fl-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fl-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}


@media (max-width: 800px) {

  .app-section-md {
    width: 100%;
    height: 800px;
  }

  .app-login {
    display: none;
  }

  .app-section-2 {
    float: none;
    width: 100%;
    height: 50%;
  }

  .app-title-xl {
    font-size: 50px;
  }

  .app-title-md {
    margin: 10px auto;
    font-size: 30px;
  }

  .app-subtitle {
    max-width: 90%;
    margin: 10px auto;
  }

  .data {
    width: 85%;
    height: 90%;
  }

  .data-item {
    margin: 17px auto;
  }

  .data-item > img {
    width: 30px;
    height: 30px;
  }

  .view-map {
    margin-top: 40px;
    height: 600px;
  }

  .faq-container {
    width: 90%;
    height: 150px;
    margin: 20px auto;
  }

  .faq-item {
    width: 100%;
    height: 100%;
  }
}